body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212; /* Dark background for body */
    color: white; /* White text for contrast */
  }
  
  h1 {
    margin-top: 10px;
    color: #ffffff;
  }
  
  #map {
    height: 85vh;
    width: 100vw;
  }
  
  #countrySearch {
    padding: 5px;
    margin-top: 10px;
    width: 200px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
  }
  
  button {
    padding: 6px;
    margin-left: 5px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .custom-icon div {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  